/* CSS HEX 
--ucla-blue: #3873b3ff;
--silver-lake-blue: #5485bbff;
--powder-blue: #a4bedbff;
--silver: #b9b9b9ff;
--dim-gray: #737373ff;
--platinum: #ddddddff; */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #DDDDDD;
    color: #737373ff;
}

header {
    background-color: #a4bedbff;
    color: #3873B3;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    color: #3873B3;
}

p {
    margin-top: 5px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #3873B3;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #5485BB;
}

.project {
    margin-bottom: 20px;
}

#contact p {
    margin-bottom: 10px;
}
