/* CSS HEX 
--ucla-blue: #3873b3ff;
--silver-lake-blue: #5485bbff;
--powder-blue: #a4bedbff;
--silver: #b9b9b9ff;
--dim-gray: #737373ff;
--platinum: #ddddddff; */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #DDDDDD;
    color: #333;
}

header {
    background-color: #3873B3;
    color: #ddddddff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

p {
    margin-top: 5px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #A4BEDB;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #5485BB;
}

.project {
    margin-bottom: 20px;
}

#contact p {
    margin-bottom: 10px;
}

button, a {
    background-color: #3873B3;
    color: #ddddddff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

#devlog-entries a {
    display: grid;
    padding: 10px;
}
